extends layouts/main
include mixins/videoBlock

block content
    .videos
        each video_item in video
            +videoBlock({
                id: video_item.id,
                title: video_item.title,
                views: video_item.views,
                fileUrl: video_item.fileUrl
            })